ul {
  list-style-type: none;
}

body {
  font-family: Verdana, sans-serif;
}

.month {
  padding: 100px 0px;
  width: 100%;
  background: rgb(0, 145, 209);
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.btnprev {
  float: left;
  border: 5px solid red;
  border-radius: 35px;
  padding: 100px 20px;
  height: 5%;
  cursor: pointer;
  transition: .5s;
}

 .btnprev:hover, .btnnext:hover {
   color: green;
   border: 5px solid green;
 }

.btnnext {
  float: right;
  border: 5px solid red;
  border-radius: 35px;
  padding: 100px 20px;
  height: 5%;
  cursor: pointer;
  transition: .5s;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 1;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 25px;
  font-size:12px;
  color: #777;
}

 .btndays:hover {
  cursor: pointer;
  background: #1abc9c;
  color: white !important
}
