
 /*body, html {
  height: 100%;
}
*/
.mainSection{
  margin: 4vw;
  background-color: white;
  border-radius: 1vw;
  padding: 3vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#homeMainDiv {
  background-color: rgb(255, 255, 255);
}
#parallax1 {
/* Temp blurry image for testing */
background-image: url("background.jpg");
/* Full height */
  height: 500px;
  opacity: 0.95;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

#parallax2 {
  /* Temp blurry image for testing */
  background-image: url("uc.jpg");
  /* Full height */
    height: 500px;
    opacity: 0.95;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } 

footer {
  background-color: #333;
}
 
h1 {
  color:white;
  font-weight: bold;
  text-align: center;
}
 /* Style the navbar */
 #navbar {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  opacity: 80%;
  padding: 3px;
  background-color: black;
  background-position: 1px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
} 
 /* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
} 


#navbar a:hover {
  color: grey;
} 
 /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
 @media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
} 