<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="stylesheets/calendar.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <h1>{{month}}</h1>
        <form>
            <label for = "events">Events</label>
            <input type = "radio" name = "eventType" id = "events"></input>
            <label for = "meetings">Meetings</label>
            <input type = "radio" name = "eventType" id = "meetings"></input>
        </form>
        <div class="month">
            <ul>
              <li class="prev">&#10094;</li>
              <li class="next">&#10095;</li>
              <li>August<br><span style="font-size:18px">2017</span></li>
            </ul>
          </div>
          
          <ul class="weekdays">
            <li>Mo</li>
            <li>Tu</li>
            <li>We</li>
            <li>Th</li>
            <li>Fr</li>
            <li>Sa</li>
            <li>Su</li>
          </ul>
          {% for  %}
          <ul class="days">
            <li>dafadf1</li>
            <li>2sfafsa</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li><span class="active">10</span></li>
            <li>11</li>
            <li>11</li>
            <li>11</li>
            <li>11</li>
            <li>11</li>
            <li>11</li>
            <li>11</li>
            <li>11</li>
            <li>11</li>
            <li>11</li>
            <li>11</li>
          </ul>
    </body>
</html>