<html>
<form method = "POST">
    <label for = "title">Post Title<label>
    <br>
    <input type = "text" name = "title" id = "title" value = {{title}}></input>
    <br>
    <label for = "body">Post Body<label>
    <br>
    <input type = "text" name = "body" id = "body" value = {{body}}></input>
    <br>
    <input type = "submit"></input>
</form>
</html>